*{
    margin: 0;
    padding: 0;
    font-family: serif;
}

body{
    background-color: rgb(19, 19, 91);
    color: white;
    font-size: 40px;
}

#sports{
    text-align: center;
    border: 2px solid white;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
}

li{
    cursor: pointer;
    border: 2px solid white;
    list-style: none;

}

#message{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.dropdownsub{
   padding: 50px;
   text-align: center;
}

#selectlist{
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    padding-right: 20px;
    border: 3px solid purple;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-stretch: normal;
}

